<!doctype html>
<html>
<head>
	<meta charset="utf-8">
	<title></title>
	<style>
	* {
		box-sizing: border-box;
		font-family: sans-serif;
	}
	body {
		background: whitesmoke;
	}
	.item {
		width: calc(33% - 20px);
		max-width: 500px;
		background: white;
		border-radius: 10px;
		box-shadow: 0px 2px 2px 2px rgba(0, 0, 0, .25);
		padding: 20px;
		margin: 10px;
	}
	.item img {
		max-width: calc(100% + 40px);
		margin-left: -20px;
		margin-right: -20px;
	}
	.item h2 {
		margin-top: 0px;
		font-size: 120%;
		color: black;
		text-decoration: none;
	}
	.item + .item {
	}
	.item *:last-child {
		margin-bottom: 0px;
	}
	.items {
		display: flex;
		flex-wrap: wrap;
	}

	</style>
</head>
<body>

<div class="items">
{% for item in items %}
<div class="item">
	<a href="{{ item.url }}">
	<h2>{{ item.title }}</h2>
	<img src="{{ item.image }}"/></a>
	<p>{{ item.description }}</p>
</div>
{% endfor %}
</div>
</body>
</html>
